body {
  margin-left: 15px;
  margin-right: 15px;
}

ul {list-style-type: none;}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  background-color: #f5fef4;
}

.container {
  width: 100%;
  height: 100%;
}

header {
  width: 100%;
  padding: 20px;
  justify-content: space-around
}

header h1 {
  padding-top: 10px;
  padding-left: 5px;
}

header h1 span {
  color: rgb(45, 168, 45);
}

header ul {
  margin: 10px;
}

header ul li {
  padding: 5px 20px;
  margin: 10px;
  transition: all o.5s;
}

header ul li a {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.705);
  font-weight: 600;
  transition: color ease-out 0.6s;
}

header ul li a:hover {
  color: rgb(105, 195, 95)
}

header input {
  padding: 8px 20px;
  background-color: rgb(45, 168, 45);
  color: white;
  font-weight: 800;
  outline: none;
  border: none;
  margin-top: 10px;
  font-size: 17px;
  border-radius: 10px;
  transition: all 0.7s;
}

header input:hover{
  transform: scale(1.09);
  background-color:rgba(36, 161, 36, 0.683);
}

