body { background-color:#FFFFFF; }

h1 { color: #1c1c1a;;}

h2 { color:#8AD167}

h3 { color:#92BA92}

.container {
	display: flex;
  flex-wrap: nowrap;
}

.space-around {
	justify-content: space-around;
  flex-wrap: nowrap;
}

