

body { background-color:#F1DDBF; }

h1 { color:#525E75;}

h2 { color:#78938A}

h3 { color:#92BA92}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }